<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<h1>Форма регистрации</h1>

<form action="#" th:action="@{/register}" th:object="${user}" method="post">
    <label>Логин: <input type="text" th:field="*{login}"/></label><br/>
    <label>Пароль: <input type="password" th:field="*{password}"/></label><br/>
    <label>ФИО: <input type="text" th:field="*{fullName}"/></label><br/>
    <label>Email: <input type="email" th:field="*{email}"/></label><br/>
    <label>Телефон: <input type="text" th:field="*{phone}"/></label><br/>
    <button type="submit">Зарегистрироваться</button>
</form>

</body>
</html>